      <div id="menu">
        <div><a href="/logout">退出</a></div>
        <div><a href="/logout"><%=session[:username]%></a></div>
        <div><a href="/search">搜索</a></div>
        <div><a href="/posts">英雄贴</a></div>
      </div>
      <div class="clear"></div>