<%= stylesheet_link_tag "base20100719.w" %>
<%= stylesheet_link_tag "psearch.w" %>

<div id="select" class="m">
<!--		<div class="mt">
				<h1>“手机”</h1><strong> 搜索结果(361)</strong>
				<div class="extra"><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655">全部撤消</a></div>
		</div>-->
		
			<!--<dl class="fore1">-->
			<!--	<dt>已选条件：</dt>-->
			<!--	<dd><div><a href="search?keyword=手机&amp;cid=655&amp;ev=">操控：<strong>标准键盘</strong><b></b></a></div></dd>-->
			<!--</dl>-->
		<dl class="fore2">
                  <dt>缺什么：</dt>
                  <dd>
<div><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655&amp;ev=6399501279911@1709396985257">缺技术</a></div>
<div><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655&amp;ev=6399501279911@1709396985090">缺资金</a></div>
                  </dd>
                </dl>
                <dl>
                <dt>有什么：</dt>
                <dd>
<div><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655&amp;ev=6399501279911@1713691952374">有创意</a></div>
<div><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655&amp;ev=6399501279911@1713691952374">有技术</a></div>
                </dd>
                </dl>
                <dl><dt>地区：</dt><dd><div><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655&amp;ev=6399501279911@6390911345312">1-499</a></div><div><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655&amp;ev=6399501279911@6390911345313">500-999</a></div><div><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655&amp;ev=6399501279911@6390911345314">1000-1999</a></div><div><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655&amp;ev=6399501279911@6390911345315">2000-2999</a></div><div><a href="search?keyword=%CA%D6%BB%FA&amp;cid=655&amp;ev=6399501279911@6390911345323">3000-4999</a></div></dd></dl>

	</div>