<style type="text/css">
<!--
.STYLE2 {font-size: 36px}
.STYLE3 {font-size: 16px}
.STYLE4 {font-size: 24px}
-->
</style>
<form name="form1" method="post" action="/settings/contact">
<table width="502" height="236" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
  <tr>
    <td height="171"><table width="500" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="169" height="200" rowspan="4" align="center" valign="middle">&nbsp;</td>
        <td height="40" colspan="3" align="center"><span class="STYLE4">义乌给力电子商务有限公司</span></td>
      </tr>
      <tr>
        <td width="200" height="114" rowspan="3" align="right" valign="middle"><span class="STYLE2">毛凌志</span></td>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td width="14" height="87">&nbsp;</td>
        <td width="117"><span class="STYLE3">经理</span></td>
      </tr>
      <tr>
        <td colspan="4"><table width="100%" border="0" cellspacing="6" cellpadding="0">
            <tr>
              <td>QQ:1036130199</td>
              <td>手机：18257099605</td>
            </tr>
            <tr>
              <td>邮箱：frederick.mao@gmail.com</td>
              <td>电话/传真:0579-85521605</td>
            </tr>
            <tr>
              <td>地址：义乌市桂林街１１号</td>
              <td>邮编：322000</td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>


</form>