<form name="form1" method="post" action="/settings/contact">
<table cellspacing="0" cellpadding="4" width="100%">
  <tr>
    <th>QQ：</th>
    <td><input type="text" name="qq" />
    </td>
  </tr>
  <tr>
    <th>博客或是微博：</th>
    <td><input type="text" name="blog" />
    </td>
  </tr>
  <tr>
    <th>其它联络方式：</th>
    <td><textarea name="contact" rows="3" cols="30"></textarea>
    </td>
  </tr>
  <tr><th></th><td><input type="submit" name="btnSearch" value="保存" /></td></tr>
</table>
</form>