<form name="form1" method="post" action="/settings/extra">
<table cellspacing="0" cellpadding="4" width="100%">
  <tr>
    <th>最急迫要解决的事?</th>
    <td><textarea name="introduce" rows="3" cols="30"></textarea>
    </td>
  </tr>
  <tr>
    <th>最想干的事?：</th>
    <td><textarea name="introduce" rows="3" cols="30"></textarea>
    </td>
  </tr>
  <tr>
    <th>目前最大成就?</th>
    <td><textarea name="introduce" rows="3" cols="30"></textarea>
    </td>
  </tr>
  <tr><th></th><td><input type="submit" name="btnSearch" value="保存" /></td></tr>
</table>
</form>