<form name="form1" method="post" action="/settings/index">
<table cellspacing="0" cellpadding="4" width="100%">
  <tr>
    <th>姓名：</th>
    <td><input type="text" name="nickname" />
    </td>
  </tr>
  <tr>
    <th>现居住地：</th>
    <td><input type="text" name="address" />
    </td>
  </tr>
  <tr>
    <th>个人介绍：</th>
    <td><textarea name="introduce" rows="3" cols="30"></textarea>
    </td>
  </tr>
  <tr>
    <th>靠什么谋生：</th>
    <td><textarea name="living" rows="3" cols="30"></textarea>
    </td>
  </tr>
  <tr><th></th><td><input type="submit" name="btnSearch" value="搜索" /></td></tr>
</table>
</form>