<form name="form1" method="post" action="/settings/resume">
<table cellspacing="0" cellpadding="4" width="100%">
  <tr>
    <th>籍贯：</th>
    <td><input type="text" name="hometown" />
    </td>
  </tr>
  <tr>
    <th>履历：</th>
    <td><textarea name="resume" rows="12" cols="40"></textarea>
    </td>
  </tr>
  <tr><th></th><td><input type="submit" name="btnSearch" value="保存" /></td></tr>
</table>
</form>